{{#ifequal type 'programrol'}}
{{#repeat 4}}
<p>
    Lórum ipse tikás egyetet tűzdez: a gyakony kolvadas plom, becskenység hajt ez. Szeltelenzésnek nyugózik továbbá a
    kala, a hűvölő mahm, a darodás és a kalag is. Túránság [22] (6) a (4) és (5) goróz selyettes ritemekben a szulyásba
    cúgos belecs énedőjét a tanság szimpójának karatával vissza kell legetnie. A várt énedőt a „teles a redékkel fátylan
    áliumokról és hülyes szulyásokról” szelző külön alatán legközelebb vező szereszekor kell hajúdnia. (1) az e
    szakodásban számára haros süvelő ordozásokat a hedés a fegyetes vernites és borzsa sorzékos hián (az egésekben:
    hián)
    fazatával horgalja el. (2) a hián a hedés sadékos és bálhás golymánya. (3) a hián e csillájában farcásodja és
    borortra
    veteszi a hedéshez diszott meticeket a vernitesek, illetve borzsák masztányozására. (4) a hián garozik a dimna sede
    bűnökök melésében.
</p>
{{/repeat}}
{{/ifequal}}

{{#ifequal type 'ktm_osztondij'}}
{{#repeat 3}}
<p>
    Lórum ipse tikás egyetet tűzdez: a gyakony kolvadas plom, becskenység hajt ez. Szeltelenzésnek nyugózik továbbá a
    kala, a hűvölő mahm, a darodás és a kalag is. Túránság [22] (6) a (4) és (5) goróz selyettes ritemekben a szulyásba
    cúgos belecs énedőjét a tanság szimpójának karatával vissza kell legetnie. A várt énedőt a „teles a redékkel fátylan
    áliumokról és hülyes szulyásokról” szelző külön alatán legközelebb vező szereszekor kell hajúdnia. (1) az e
    szakodásban számára haros süvelő ordozásokat a hedés a fegyetes vernites és borzsa sorzékos hián (az egésekben:
    hián)
    fazatával horgalja el. (2) a hián a hedés sadékos és bálhás golymánya. (3) a hián e csillájában farcásodja és
    borortra
    veteszi a hedéshez diszott meticeket a vernitesek, illetve borzsák masztányozására. (4) a hián garozik a dimna sede
    bűnökök melésében.
</p>
{{/repeat}}
{{/ifequal}}


{{#ifequal type 'partneriskolak'}}
{{#repeat 5}}
<p>
    Lórum ipse tikás egyetet tűzdez: a gyakony kolvadas plom, becskenység hajt ez. Szeltelenzésnek nyugózik továbbá a
    kala, a hűvölő mahm, a darodás és a kalag is. Túránság [22] (6) a (4) és (5) goróz selyettes ritemekben a szulyásba
    cúgos belecs énedőjét a tanság szimpójának karatával vissza kell legetnie. A várt énedőt a „teles a redékkel fátylan
    áliumokról és hülyes szulyásokról” szelző külön alatán legközelebb vező szereszekor kell hajúdnia. (1) az e
    szakodásban számára haros süvelő ordozásokat a hedés a fegyetes vernites és borzsa sorzékos hián (az egésekben:
    hián)
    fazatával horgalja el. (2) a hián a hedés sadékos és bálhás golymánya. (3) a hián e csillájában farcásodja és
    borortra
    veteszi a hedéshez diszott meticeket a vernitesek, illetve borzsák masztányozására. (4) a hián garozik a dimna sede
    bűnökök melésében.
</p>
{{/repeat}}
{{/ifequal}}


{{#ifequal type 'szte_juniorok_viadala'}}
{{#repeat 5}}
<p>
    Lórum ipse tikás egyetet tűzdez: a gyakony kolvadas plom, becskenység hajt ez. Szeltelenzésnek nyugózik továbbá a
    kala, a hűvölő mahm, a darodás és a kalag is. Túránság [22] (6) a (4) és (5) goróz selyettes ritemekben a szulyásba
    cúgos belecs énedőjét a tanság szimpójának karatával vissza kell legetnie. A várt énedőt a „teles a redékkel fátylan
    áliumokról és hülyes szulyásokról” szelző külön alatán legközelebb vező szereszekor kell hajúdnia. (1) az e
    szakodásban számára haros süvelő ordozásokat a hedés a fegyetes vernites és borzsa sorzékos hián (az egésekben:
    hián)
    fazatával horgalja el. (2) a hián a hedés sadékos és bálhás golymánya. (3) a hián e csillájában farcásodja és
    borortra
    veteszi a hedéshez diszott meticeket a vernitesek, illetve borzsák masztányozására. (4) a hián garozik a dimna sede
    bűnökök melésében.
</p>
{{/repeat}}
{{/ifequal}}

{{#ifequal type 'javits_osztondij'}}
{{#repeat 4}}
<p>
    Lórum ipse tikás egyetet tűzdez: a gyakony kolvadas plom, becskenység hajt ez. Szeltelenzésnek nyugózik továbbá a
    kala, a hűvölő mahm, a darodás és a kalag is. Túránság [22] (6) a (4) és (5) goróz selyettes ritemekben a szulyásba
    cúgos belecs énedőjét a tanság szimpójának karatával vissza kell legetnie. A várt énedőt a „teles a redékkel fátylan
    áliumokról és hülyes szulyásokról” szelző külön alatán legközelebb vező szereszekor kell hajúdnia. (1) az e
    szakodásban számára haros süvelő ordozásokat a hedés a fegyetes vernites és borzsa sorzékos hián (az egésekben:
    hián)
    fazatával horgalja el. (2) a hián a hedés sadékos és bálhás golymánya. (3) a hián e csillájában farcásodja és
    borortra
    veteszi a hedéshez diszott meticeket a vernitesek, illetve borzsák masztányozására. (4) a hián garozik a dimna sede
    bűnökök melésében.
</p>
{{/repeat}}
{{/ifequal}}