<!-- Start Gallery "Egy" - created: 2024-10-05 05:10 -->
<div class="gallery" id="gallery">
  <!-- "data-pswp-uid" only needed if you have more than one gallery on a page -->
  <section class="small-12 columns gallery"{{#if gid}} data-pswp-uid="{{gid}}"{{/if}} itemscope itemtype="http://schema.org/ImageGallery">

    <!-- You may need to sort the "figure" elements manually – they are in folder sort order! -->

    <!-- assets/img/galeria/egy/01.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/egy/xl/01.xl.jpg" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}assets/img/galeria/egy/ts/01.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-02-02T13:01:51">2023-02-02</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/egy/01.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/egy/s/01.s.jpg 320w,
          {{root}}assets/img/galeria/egy/m/01.m.jpg 640w,
          {{root}}assets/img/galeria/egy/l/01.l.jpg 1000w
          "
        src="{{root}}assets/img/galeria/egy/s/01.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-02-02T13:01:51">2023-02-02</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/egy/02.jpg (1500x1000px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/egy/xl/02.xl.jpg" itemprop="contentUrl" data-size="1500x1000">
        <img aria-hidden=true src="{{root}}assets/img/galeria/egy/ts/02.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-09T11:42:36">2022-12-09</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/egy/02.jpg (1500x1000px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/egy/s/02.s.jpg 320w,
          {{root}}assets/img/galeria/egy/m/02.m.jpg 640w,
          {{root}}assets/img/galeria/egy/l/02.l.jpg 1024w,
          {{root}}assets/img/galeria/egy/xl/02.xl.jpg 1500w
          "
        src="{{root}}assets/img/galeria/egy/s/02.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-09T11:42:36">2022-12-09</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/egy/03.jpg (1281x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/egy/xl/03.xl.jpg" itemprop="contentUrl" data-size="1281x1500">
        <img aria-hidden=true src="{{root}}assets/img/galeria/egy/ts/03.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/egy/03.jpg (1281x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/egy/s/03.s.jpg 320w,
          {{root}}assets/img/galeria/egy/m/03.m.jpg 640w,
          {{root}}assets/img/galeria/egy/l/03.l.jpg 1024w,
          {{root}}assets/img/galeria/egy/xl/03.xl.jpg 1281w
          "
        src="{{root}}assets/img/galeria/egy/s/03.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

  </section>
</div>
<!-- End Gallery "Egy" - created: 2024-10-05 05:10 -->
