<footer class="site-footer">
    <div class="full-width-bg">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4">
                    <p class="hide-for-small-only">
                        <a href="{{root}}index.html"><img src="{{root}}assets/img/ja_logo.png" alt=""></a>
                    </p>
                    <h4>Elérhetőségeink</h4>

                    <ul class=" menu vertical">
                        {{#each global.elerhetosegek}}
                        <li><a href="{{link}}"><i style="color: var(--secondary-color)" class="fi-{{icon}}"></i>
                                &thinsp;{{title}}: {{text}}</a>
                        </li>
                        {{/each}}

                    </ul>
                </div>

                <div class="cell large-4">
                    <h4 class="small-text-center">Hasznos linkek</h4>

                    <ul class=" menu vertical">

                        {{#each global.hasznoslinkek}}
                        <li><a href="{{link}}">{{title}}</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div class="cell  large-4">
                    <h4>Az SZTE Junior Akadémia a térképen</h4>
                    {{>leaflet_map}}
                </div>
            </div>
        </div>
    </div>
</footer>