<footer class="site-footer">
    <div class="full-width-bg">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4">
                    <p>
                        <a href="{{root}}index.html"><img src="{{root}}assets/img/ja_logo.png" alt=""></a>
                    </p>
                    <h4 style="color: #5879ae;">Elérhetőségeink</h4>

                    <ul class=" menu vertical">
                        <li><i style="color: var(--secondary-color)" class="fi-map"></i> Cím: 6720 Szeged, Dugonics tér
                            13.
                        </li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>

                <div class="cell large-4">
                    <h4>Második hasáb</h4>
                    <p>A középső hasáb tartalma. Lehet kapcsolat, linkek, vagy más információ.</p>
                    <ul class="menu vertical">
                        <li><a href="#">Rólunk</a></li>
                        <li><a href="#">Szolgáltatások</a></li>
                        <li><a href="#">Kapcsolat</a></li>
                    </ul>
                </div>

                <div class="cell  large-4">
                    <h4>Harmadik hasáb</h4>
                    <p>A harmadik hasáb, például social media linkek vagy hírlevél feliratkozás.</p>
                    <ul class="menu horizontal">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>