<footer class="site-footer">
    <div class="full-width-bg">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="cell large-4">
                    <h4>Első hasáb</h4>
                    <p>Itt van a footer első hasábjának tartalma. Lehet logo, szöveg, vagy bármi más.</p>
                    <ul class="menu vertical">
                        <li><a href="#">Link 1</a></li>
                        <li><a href="#">Link 2</a></li>
                        <li><a href="#">Link 3</a></li>
                    </ul>
                </div>

                <div class="cell large-4">
                    <h4>Második hasáb</h4>
                    <p>A középső hasáb tartalma. Lehet kapcsolat, linkek, vagy más információ.</p>
                    <ul class="menu vertical">
                        <li><a href="#">Rólunk</a></li>
                        <li><a href="#">Szolgáltatások</a></li>
                        <li><a href="#">Kapcsolat</a></li>
                    </ul>
                </div>

                <div class="cell  large-4">
                    <h4>Harmadik hasáb</h4>
                    <p>A harmadik hasáb, például social media linkek vagy hírlevél feliratkozás.</p>
                    <ul class="menu horizontal">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>