<!-- Start Gallery "Prospektustartók a partnerintézményeinkben" - created: 2024-10-03 06:39 -->
<div class="row content">
  <!-- "data-pswp-uid" only needed if you have more than one gallery on a page -->
  <section class="small-12 columns gallery"{{#if gid}} data-pswp-uid="{{gid}}"{{/if}} itemscope itemtype="http://schema.org/ImageGallery">

    <!-- You may need to sort the "figure" elements manually – they are in folder sort order! -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/andrássy-gyula-gimnázium-és-kollégium.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-02-02T13:01:51">2023-02-02</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/andrássy-gyula-gimnázium-és-kollégium.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1000w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-02-02T13:01:51">2023-02-02</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/békéscsabai-belvárosi-általános-iskola-és-gimnázium.jpg (1500x1000px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1500x1000">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-09T11:42:36">2022-12-09</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/békéscsabai-belvárosi-általános-iskola-és-gimnázium.jpg (1500x1000px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1500w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-09T11:42:36">2022-12-09</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/csongrádi-batsányi-jános-gimnázium-és-kollégium.jpg (1281x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1281x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/csongrádi-batsányi-jános-gimnázium-és-kollégium.jpg (1281x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1281w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kecskeméti-bolyai-jános-gimnázium.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-20T11:50:40">2023-01-20</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kecskeméti-bolyai-jános-gimnázium.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1000w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-20T11:50:40">2023-01-20</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kecskeméti-református- gimnázium.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-24T12:26:03">2023-01-24</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kecskeméti-református- gimnázium.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1000w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-24T12:26:03">2023-01-24</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kiskunfélegyházi-móra-ferenc-gimnázium.jpg (922x1383px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="922x1383">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kiskunfélegyházi-móra-ferenc-gimnázium.jpg (922x1383px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 922w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kiskunhalasi-bibó-istván-gimnázium.jpg (1500x1000px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1500x1000">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-30T12:36:48">2023-01-30</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/kiskunhalasi-bibó-istván-gimnázium.jpg (1500x1000px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1500w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-30T12:36:48">2023-01-30</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/mezőkovácsházi-hunyadi-jános-általános-iskola-gimn-és-koll.jpg (1500x999px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1500x999">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-20T14:03:26">2022-12-20</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/mezőkovácsházi-hunyadi-jános-általános-iskola-gimn-és-koll.jpg (1500x999px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1500w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2022-12-20T14:03:26">2022-12-20</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-krúdy-gyula-szakképző-iskola.jpg (1500x1000px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1500x1000">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-30T08:04:12">2023-01-30</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-krúdy-gyula-szakképző-iskola.jpg (1500x1000px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1500w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-30T08:04:12">2023-01-30</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-vasvári-pál-gazdasági-és-informatikai-technikum.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-31T10:36:18">2023-01-31</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-vasvári-pál-gazdasági-és-informatikai-technikum.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1000w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-31T10:36:18">2023-01-31</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-vedres-istván-technikum.jpg (1000x1500px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1000x1500">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szegedi-szc-vedres-istván-technikum.jpg (1000x1500px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1000w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szte-gyakorló-gimnázium.jpg (1500x1000px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}" itemprop="contentUrl" data-size="1500x1000">
        <img aria-hidden=true src="{{root}}" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-27T16:25:50">2023-01-27</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/Prospektustartók-a-partnerintézményeinkben/szte-gyakorló-gimnázium.jpg (1500x1000px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}} 320w,
          {{root}} 640w,
          {{root}} 1024w,
          {{root}} 1500w
          "
        src="{{root}}"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2023-01-27T16:25:50">2023-01-27</span></p></figcaption>
    </figure>
    -->

  </section>
</div>
<!-- End Gallery "Prospektustartók a partnerintézményeinkben" - created: 2024-10-03 06:39 -->
