<!-- Start Gallery "2024 06 11 Határtalanul" - created: 2024-10-11 11:21 -->
<div class="row content">
  <!-- "data-pswp-uid" only needed if you have more than one gallery on a page -->
  <section class="small-12 columns gallery"{{#if gid}} data-pswp-uid="{{gid}}"{{/if}} itemscope itemtype="http://schema.org/ImageGallery">

    <!-- You may need to sort the "figure" elements manually – they are in folder sort order! -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_01.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_01.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_01.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_01.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_01.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_01.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_01.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_01.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_01.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_02.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_02.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_02.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_02.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_02.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_02.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_02.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_02.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_02.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_03.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location: 45.8883694444444,22.9019138888889 Height: 196.1706468m Viewing direction: 48.1540832° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_03.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_03.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2024-06-11T09:09:26">2024-06-11</span></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_03.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location: 45.8883694444444,22.9019138888889 Height: 196.1706468m Viewing direction: 48.1540832° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_03.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_03.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_03.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_03.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_03.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p><span itemprop="dateCreated" content="2024-06-11T09:09:26">2024-06-11</span></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_04.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_04.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_04.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_04.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_04.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_04.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_04.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_04.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_04.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_05.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_05.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_05.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_05.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_05.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_05.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_05.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_05.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_05.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_06.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_06.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_06.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_06.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_06.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_06.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_06.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_06.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_06.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_07.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_07.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_07.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_07.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_07.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_07.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_07.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_07.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_07.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_08.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_08.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_08.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_08.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_08.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_08.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_08.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_08.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_08.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_09.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_09.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_09.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_09.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_09.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_09.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_09.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_09.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_09.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_10.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_10.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_10.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_10.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_10.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_10.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_10.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_10.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_10.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_11.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_11.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_11.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_11.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_11.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_11.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_11.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_11.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_11.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_12.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_12.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_12.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_12.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_12.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_12.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_12.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_12.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_12.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_13.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_13.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_13.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_13.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_13.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_13.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_13.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_13.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_13.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_14.jpg (1314x986px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_14.xl.jpg" itemprop="contentUrl" data-size="1314x986">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_14.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_14.jpg (1314x986px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_14.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_14.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_14.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_14.xl.jpg 1314w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_14.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_15.jpg (901x676px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_15.xl.jpg" itemprop="contentUrl" data-size="901x676">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_15.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_15.jpg (901x676px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_15.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_15.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_15.l.jpg 901w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_15.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_16.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_16.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_16.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_16.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_16.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_16.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_16.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_16.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_16.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_17.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_17.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_17.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_17.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_17.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_17.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_17.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_17.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_17.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_18.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_18.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_18.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_18.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_18.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_18.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_18.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_18.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_18.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_19.jpg (1200x900px) - cropped, square thumbnail with link to hi-res image -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <a class="thumbnail" role="button" aria-label="Thumbnail" href="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_19.xl.jpg" itemprop="contentUrl" data-size="1200x900">
        <img aria-hidden=true src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/ts/hatartalanul_2024_ps_19.ts.jpg" itemprop="thumbnail" alt="">
      </a>
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>

    <!-- assets/img/galeria/2024_06_11_Határtalanul/hatartalanul_2024_ps_19.jpg (1200x900px) - "normal" image on a page, with a srcset (responsive loading) -->
    <!-- Image copyright:  -->
    <!-- Image keywords:  -->
    <!-- Image location:  Height: -m Viewing direction: -° -->
    <!--
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" title="">
      <img srcset="
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_19.s.jpg 320w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/m/hatartalanul_2024_ps_19.m.jpg 640w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/l/hatartalanul_2024_ps_19.l.jpg 1024w,
          {{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/xl/hatartalanul_2024_ps_19.xl.jpg 1200w
          "
        src="{{root}}assets/img/galeria/2024_06_11_Hat%C3%A1rtalanul/s/hatartalanul_2024_ps_19.s.jpg"
        sizes="
          100vw"
        alt="">
      <figcaption itemprop="caption description" title=""><p></p></figcaption>
    </figure>
    -->

  </section>
</div>
<!-- End Gallery "2024 06 11 Határtalanul" - created: 2024-10-11 11:21 -->
