<style>
    #map {
        height: 120px;

    }
</style>

<div id="map"></div>
<script>
    var map = L.map('map', {
        center: [46.250104, 20.146333],
        zoom: 23
    });
    var jaIcon = L.icon({
        iconUrl: "assets/img//google-map-pointer-ja.png"
    })

    L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png').addTo(map);
    var firstMarker =
        L.marker([46.250104, 20.146333], { icon: jaIcon }).addTo(map)
            .bindPopup('SZTE Junior Akadémia')




</script>