{{#markdown}}

##### 2. Miért érdemes hozzánk jelentkezni?

* 100 órás képzés,
* kiváló, felkészült, érettségiztetésben jártas tanárok,
* sikeres elvégzés esetén **25 intézményi felvételi ponthoz juthatsz tantárgyanként**,
* 10 tantárgyból,
* **online** és **tantermi** formában is,
* délutáni vagy szombaton tömbösített tanórák,
* a képzés végén próbaérettségivel tesztelheted tudásod,
* **mindössze 90 000 forintért**,
* **szociális kedvezmény pályázható (lásd: jelentkezési útmutató)**,
* visszaigényelheted a tandíjat, ha az SZTE-re jelentkezel, és felvesznek.

{{/markdown}}