<div class="cell large-4">
    <div class="card" data-equalizer-watch>
        <a href="../{{url}}.html">
            <div class="card-divider text-center">
                {{title}}
            </div>
        </a>
        <div class="card-section">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12">
                    <a href="osztondijak/{{url}}.html">
                        <p class="text-center"><span class="label secondary">a pályázat aktív</span>
                        </p>
                        <!-- <p class="text-{{align}}">
                            <img class="thumbnail" src="{{img}}">
                        </p> -->
                        <p>{{shortcontent}}</p>
                        <p> {{>btn-center}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>