<div class=" sticky" data-sticky data-margin-top="0">
    <ul class="vertical menu" data-magellan data-offset="80" data-active-class="is-active-scroll">
        <li>
            <a href="#first-section">
                Section 1
            </a>
        </li>
        <li>
            <a href="#second-section">
                Section 2
            </a>
        </li>
        <li>
            <a href="#third-section">
                Section 3
            </a>
        </li>
    </ul>
</div>