{{#ifequal type 'rolunk'}}
<ul class="menu vertical nested {{#ifpage
  'rolunk'
  'munkatarsaink'
  'bemutatkozunk'
  'szegedi_tehetseggondozo_tanacs'
  'idovonal'
  'sajtomegjelenesek'
  'partnerek'
}} is-active {{/ifpage}}">
  {{/ifequal}}


  {{#ifequal type 'prog'}}
  <ul class=" menu vertical nested {{#ifpage
    'kozepiskolai_partneri_program'
    'szte_junior_akademiai_eloadasok'
    'versenyek'
    'osztalykirandulasok'
    'workshopok'
    'palyaorientacios_tanacsadas'
    'palyazatok'
  }} is-active {{/ifpage}}">
    {{/ifequal}}


    {{#ifequal type 'tanf'}}
    <ul class="menu vertical nested {{#ifpage
 }} is-active {{/ifpage}}">
      {{/ifequal}}