<!-- prettier-ignore-start -->
{{#if subtitle1}}
<li><a href="/{{folder}}/{{suburl1}}.html">{{subtitle1}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle2}}
<li><a href="/{{folder}}/{{suburl2}}.html">{{subtitle2}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle3}}
<li><a href="/{{folder}}/{{suburl3}}.html">{{subtitle3}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle4}}
<li><a href="/{{folder}}/{{suburl4}}.html">{{subtitle4}}</a></li>
<!-- prettier-ignore-end -->

{{/if}}
<!-- prettier-ignore-start -->
{{#if subtitle5}}
<li><a href="/{{folder}}/{{suburl5}}.html">{{subtitle5}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle6}}
<li><a href="/{{folder}}//{{suburl6}}.html">{{subtitle6}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle7}}
<li><a href="/{{folder}}//{{suburl7}}.html">{{subtitle7}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle8}}
<li><a href="/{{folder}}//{{suburl8}}.html">{{subtitle8}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle9}}
<li><a href="/{{folder}}//{{suburl9}}.html">{{subtitle9}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->

<!-- prettier-ignore-start -->
{{#if subtitle10}}
<li><a href="/{{folder}}//{{suburl10}}.html">{{subtitle10}}</a></li>
{{/if}}
<!-- prettier-ignore-end -->
