{{#ifequal type 'main1'}}
<ul class="menu vertical nested {{#ifpage rolunk
  'munkatarsaink'
  'bemutatkozunk'
  'szegedi_tehetseggondozo_tanacs'
  'idovonal'
  'sajtomegjelenesek'
  'partnerek'
}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main2'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main3'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main4'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main5'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main6'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main7'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}} {{#ifequal type 'main8'}}
<ul class="menu vertical nested {{#ifpage 'sub3' 'sub4'}} is-active {{/ifpage}}">
  {{> submenu_partial}}
</ul>
{{/ifequal}}