<ul class="menu vertical nested
            {{#ifpage
                'szte_juniorok_viadala'
                'szte_junior_sakkviadal'
                'szte_junior_innovatorok_otletverseny'
                'nobel_hetek_tiktok_videopalyazat'
                'both_odon_kozjogtorteneti_emlekverseny'
                'bathory_istvan_kozepiskolai_tortenelem_tanulmanyi_verseny'
                'prezentacios_technikak_verseny'
            }}
            is-active
            {{/ifpage}}">
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl31}}.html">{{subtitle31}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl32}}.html">{{subtitle32}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl33}}.html">{{subtitle33}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl34}}.html">{{subtitle34}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl35}}.html">{{subtitle35}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl36}}.html">{{subtitle36}}</a></li>
    <li><a href="/{{folder}}/{{suburl3}}/{{suburl37}}.html">{{subtitle37}}</a></li>
</ul>